.header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px;
  background-color: #f7f7f7;
}

.title {
  justify-content: start;
  font-size: 2rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.avatar {
  justify-content: end;
}

.avatar:hover {
  cursor: pointer;
}
